h1 {
    color: rgba(0, 200, 100, 0.7);
    /* border-color: purple;
    border-width: 3px;
    border-style: solid; */
    border: 2px solid green;
}

h4 {
    background: rgb(255, 100, 80);
}

body {
    /* background: url(https://i.pinimg.com/originals/19/fe/1b/19fe1b9b8f627dd11bdaa1f1431c9d1f.jpg); */
    background: pink;
}