<% include partials/header %>
<h1>You fell in love with <%= subject %></h1>

<% if(subject.toLowerCase() === "soccer") { %>
    <p>Good choice! Soccer is awesome</p>
<% } else { %>
    <p>Bad choice! You should have said soccer</p>
<% } %>

<p>This is the love.ejs file</p>
<% include partials/footer %>