<% include partials/header %>
<h1>The posts page</h1>

<ul>

    <% posts.forEach(function(post){ %>
       <li>
           <strong><%= post.title%></strong> - <%= post.author%>
        </li>
    <% }); %>

</ul>
<% include partials/footer %>